<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <link rel="stylesheet" href="../css/alguma-coisa.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>

<body>
     <div class="container">
          <header>
               <nav>
                    <div class="nav-content">
                         <div class="logo">
                              <a href="index.html">
                                   <img src="../assets/logo-projeto.jpeg ">
                              </a>
                         </div>
                         <div class="navbar-text-content">
                              <ul>
                                   <li>
                                        <a href="">Alguma coisa</a>
                                   </li>
                                   <li>
                                        <a href="">Sobre Nos</a>
                                   </li>
                                   <li>
                                        <a href="">Informacoes relevantes</a>
                                   </li>
                                   <li>
                                        <a href="">Termos de uso</a>
                                   </li>
                              </ul>
                         </div>
                    </div>
               </nav>
          </header>

          <main>
               <div class="box">
                    <div class="box-content">
                         <div class="main-content">
                              <p id="statefull-number"></p>
                         </div>
                         <div class="buttons-display">
                              <button id="decreaseButton">-</button>
                              <button id="increaseButton">+</button>
                         </div>
                    </div>
               </div>
          </main>
     </div>

     <script src="../scripts/index.js"></script>
</body>

</html>