<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/home.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-content">
                <div class="logo">
                    <a href="index.html">
                        <img src="../assets/logo-projeto.jpeg ">
                    </a>
                </div>
                <div class="navbar-text-content">
                    <ul>
                        <li>
                            <a href="">Alguma coisa</a>
                        </li>
                        <li>
                            <a href="">Sobre Nos</a>
                        </li>
                        <li>
                            <a href="">Informacoes relevantes</a>
                        </li>
                        <li>
                            <a href="">Termos de uso</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="form">
            <h2 id="form-title">Welcome my friend</h2>
            <p>
                Se cadatre no nosso blog e receba as novidades o quanto antes !!!
            </p>
            <form action="submit">
                <div class="email">
                    <label for="email">Email:</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="password">
                    <label for="password">Password:</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="button">
                    <button type="submit">
                        <span>enviar</span>
                    </button>
                </div>
            </form>
        </div>
    </main>
</body>

</html>