<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/blog.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <div class="nav-content">
                <div class="logo">
                    <a href="home.html">
                        <img src="../assets/logo-projeto.jpeg">
                    </a>
                </div>
                <div class="navbar-text-content">
                    <ul>
                        <li>
                            <a href="./alguma-coisa.html">Alguma coisa</a>
                        </li>
                        <li>
                            <a href="">Sobre Nos</a>
                        </li>
                        <li>
                            <a href="">Informacoes relevantes</a>
                        </li>
                        <li>
                            <a href="">Termos de uso</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="content">
            <h2>Welcome back my friend to the show that never ends</h2>
            <h3>Songs List : </h3>
            <p>1. Lazy - Deep Purple</p>
            <p>2. Karn Evil - Emerson Lake and Palmer</p>
            <p>3. In the Wake of Poseidon - King Crimson</p>
            <p>4. Starless - King Crimson</p>
            <p>5. Roundabout - YES</p>
        </div>
        <hr>
        <div class="content">
            <h3>My favourite music style :</h3>
            <p>
                Na sua essência, o som progressivo extrapolava o formato canção em músicas com longuíssimos trechos
                instrumentais, muitas vez compondo os chamados “álbuns conceituais”, discos que contavam uma história ou
                possuíam alguma ligação temática entre suas faixas. Assim como a guitarra elétrica se tornou marca
                registrada do
                rock n' roll, o teclado se tornou parte inerente do estilo, alcançando ou até mesmo superando sua
                condição de
                principal instrumento.
            </p>
        </div>
        <hr>
        <div class="content">
            <p>
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia
                consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui
                dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora
                incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum
                exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem
                vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum
                qui dolorem eum fugiat quo voluptas nulla pariatur?"
            </p>
        </div>
        <hr>
        <div class="content">
            <table>
                <thead>
                    <tr>
                        <th>Header 1</th>
                        <th>Header 2</th>
                        <th>Header 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pink Floyd</td>
                        <td>Marillion</td>
                        <td>Genesis</td>
                    </tr>
                    <tr>
                        <td>King Crimson</td>
                        <td>Yes</td>
                        <td>Emerson, Lake and Palmer</td>
                    </tr>
                    <tr>
                        <td>Tool</td>
                        <td>Opeth</td>
                        <td>Camel</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <nav>
                <ul>
                    <li>
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <a href="#">Twitter</a>
                    </li>
                    <li>
                        <a href="#">Instagram</a>
                    </li>
                    <li>
                        <a href="#">Reddit</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="comebackButton">
            <button class="top-button">
                <a href="#TOP">CLICK HERE</a>
            </button>
        </div>
    </footer>
</body>

</html>