<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <link rel="stylesheet" href="../css/lamp.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>

<body>
     <div class="container">
          <div class="main-content">
               <div class="lamp">
                    <img src="../assets/Lovepik_com-401584798-floor-lamp.png">
               </div>
               <div class="button-wrapper">
                    <button id="light-switch">CLIQUE AQUI</button>
               </div>
          </div>
     </div>

     <script src="../scripts/changeColor.js"></script>
</body>

</html>