:root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(47, 47, 95);
    color: aliceblue;
}

img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

a:hover {
    color: aliceblue;
}

.nav-content {
    display: flex;
    border-bottom: 1px solid gray;
    padding: 1%;
    justify-content: space-between;
}

.content {
    max-width: 60%;
}

.navbar-text-content {
    display: flex;
    position: relative;
    margin-top: 25px;
}

.footer-content {
    background: rgba(35%, 0, 0, 0.5);
    height: 100%;
}

/* Table styling */

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #58535373;
}

.top-button {
    height: 40px;
    width: 100px;

    font-weight: 500;
    font-size: small;

    background: rgb(71, 71, 40);
    color: black;
}